header{
    position:fixed;
    z-index: 1002;
    width:100vw;
}
/*
nav{
    width:100vw;
}
*/
main{
    position:relative;
    z-index: 0;
}

main>section{
    position: absolute;
    z-index: 0;
    width:100vw;
    min-height:400px;
}
footer{
    position:fixed;
    z-index: 1001;
    bottom:0;
}